In [1]:
import numpy as np
import pandas as pd

In [2]:
customers = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_customers_dataset.csv")
geolocation = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_geolocation_dataset.csv")
order_items = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_order_items_dataset.csv")
order_payments = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_order_reviews_dataset.csv")
orders_dataset= pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_orders_dataset.csv")
sellers = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_sellers_dataset.csv")
product_category_name_translation = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/product_category_name_translation.csv")
product_dataset = pd.read_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/dataset/olist_products_dataset.csv")

# Dimensional tables

### dim_geolocation

In [3]:
dim_geolocation = pd.DataFrame()
dim_geolocation = geolocation.copy(deep=True)

In [4]:
dim_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

### dim_order_items

In [5]:
dim_order_items = pd.DataFrame()
dim_order_items = order_items.copy(deep=True)

In [6]:
dim_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

### dim_order_payments

In [7]:
dim_order_payments = pd.DataFrame()
dim_order_payments = order_payments.copy(deep=True)

In [8]:
dim_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

### dim_order_reviews

In [9]:
dim_order_reviews = pd.DataFrame()
dim_order_reviews = order_reviews.copy(deep=True)

In [10]:
dim_order_reviews = dim_order_reviews.drop('review_score', axis= 1)

In [11]:
dim_order_reviews.head()

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

### dim_customers

In [12]:
dim_customers = pd.DataFrame()
dim_customers = customers.copy(deep=True)

In [13]:
dim_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [14]:
dim_customers['customer_id'].duplicated().sum()

0

### dim_sellers

In [15]:
dim_sellers = pd.DataFrame()
dim_sellers = sellers.copy(deep=True)

In [16]:
dim_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [17]:
dim_sellers['seller_id'].duplicated().sum()

0

### dim_products

In [18]:
dim_products = pd.DataFrame()
dim_products = product_dataset.copy(deep=True)

In [19]:
dim_products = dim_products.merge(product_category_name_translation, on = 'product_category_name', how = 'left')

In [20]:
dim_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [21]:
dim_products = dim_products[["product_id","product_category_name","product_category_name_english","product_name_lenght","product_description_lenght","product_photos_qty","product_weight_g","product_length_cm","product_height_cm","product_width_cm"]]

In [22]:
dim_products.head()

,product_id,product_category_name,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

### dim_orders

In [23]:
dim_orders = pd.DataFrame()
dim_orders = orders_dataset.copy(deep=True)

In [24]:
orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

### dim_dates

In [25]:
dates_time = pd.concat([
    orders_dataset["order_purchase_timestamp"].dropna(),
    orders_dataset["order_approved_at"].dropna(),
    orders_dataset["order_delivered_carrier_date"].dropna(),
    orders_dataset["order_delivered_customer_date"].dropna(),
    orders_dataset["order_estimated_delivery_date"].dropna()
]).drop_duplicates()

In [26]:
dates_time.tail()

72686    2016-12-23 00:00:00
80696    2017-01-11 00:00:00
83078    2016-10-25 00:00:00
83413    2018-07-10 00:00:00
93285    2016-10-27 00:00:00
dtype: object

In [27]:
dates_time = pd.to_datetime(dates_time)

In [28]:
dim_dates = pd.DataFrame({
    "date_time": dates_time,
    "dates_id": range(1, len(dates_time) + 1)
    
})

In [29]:
dim_dates['day'] = dim_dates['date_time'].dt.day
dim_dates['month'] = dim_dates['date_time'].dt.month
dim_dates['year'] = dim_dates['date_time'].dt.year
dim_dates['quarter'] = dim_dates['date_time'].dt.quarter
dim_dates['week'] = dim_dates['date_time'].dt.isocalendar().week
dim_dates['day_of_week'] = dim_dates['date_time'].dt.day_name()

In [30]:
dim_orders["order_purchase_timestamp"] = pd.to_datetime(dim_orders["order_purchase_timestamp"])
dim_orders["order_approved_at"] = pd.to_datetime(dim_orders["order_approved_at"])
dim_orders["order_delivered_carrier_date"] = pd.to_datetime(dim_orders["order_delivered_carrier_date"])
dim_orders["order_delivered_customer_date"] = pd.to_datetime(dim_orders["order_delivered_customer_date"])
dim_orders["order_estimated_delivery_date"] = pd.to_datetime(dim_orders["order_estimated_delivery_date"])

In [31]:
dim_dates.head()

            date_time  dates_id  day  month  year  quarter  week day_of_week
0 2017-10-02 10:56:33         1    2     10  2017        4    40      Monday
1 2018-07-24 20:41:37         2   24      7  2018        3    30     Tuesday
2 2018-08-08 08:38:49         3    8      8  2018        3    32   Wednesday
3 2017-11-18 19:28:06         4   18     11  2017        4    46    Saturday
4 2018-02-13 21:18:39         5   13      2  2018        1     7     Tuesday

In [32]:
dim_dates= dim_dates[['dates_id','date_time','day','month','year','quarter','week','day_of_week']]

In [33]:
dim_orders = dim_orders.merge(dim_dates[['date_time', 'dates_id']], left_on='order_purchase_timestamp', right_on='date_time', how='left').rename(columns={'dates_id': 'order_purchase_timestamp_KEY'}).drop(columns='date_time')
dim_orders = dim_orders.merge(dim_dates[['date_time', 'dates_id']], left_on='order_approved_at', right_on='date_time', how='left').rename(columns={'dates_id': 'order_approved_at_KEY'}).drop(columns='date_time')
dim_orders = dim_orders.merge(dim_dates[['date_time', 'dates_id']], left_on='order_delivered_carrier_date', right_on='date_time', how='left').rename(columns={'dates_id': 'order_delivered_carrier_date_KEY'}).drop(columns='date_time')
dim_orders = dim_orders.merge(dim_dates[['date_time', 'dates_id']], left_on='order_delivered_customer_date', right_on='date_time', how='left').rename(columns={'dates_id': 'order_delivered_customer_date_KEY'}).drop(columns='date_time')
dim_orders = dim_orders.merge(dim_dates[['date_time', 'dates_id']], left_on='order_estimated_delivery_date', right_on='date_time', how='left').rename(columns={'dates_id': 'order_estimated_delivery_date_KEY'}).drop(columns='date_time')

In [34]:
dim_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_timestamp_KEY,order_approved_at_KEY,order_delivered_carrier_date_KEY,order_delivered_customer_date_KEY,order_estimated_delivery_date_KEY
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,98876.0,188052.0,268625.0,362872
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2,98877.0,188053.0,268626.0,362873
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3,98878.0,188054.0,268627.0,362874
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,4,98879.0,188055.0,268628.0,362875
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,5,98880.0,188056.0,268629.0,362876

In [35]:
columns_to_drop = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

dim_orders = dim_orders.drop(columns=columns_to_drop)

In [36]:
dim_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp_KEY,order_approved_at_KEY,order_delivered_carrier_date_KEY,order_delivered_customer_date_KEY,order_estimated_delivery_date_KEY
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,1,98876.0,188052.0,268625.0,362872
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2,98877.0,188053.0,268626.0,362873
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,3,98878.0,188054.0,268627.0,362874
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,4,98879.0,188055.0,268628.0,362875
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,5,98880.0,188056.0,268629.0,362876

In [37]:
dim_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   order_id                           99441 non-null  object
 1   customer_id                        99441 non-null  object
 2   order_status                       99441 non-null  object
 3   order_purchase_timestamp_KEY       99441 non-null  int64
 4   order_approved_at_KEY              99281 non-null  float64
 5   order_delivered_carrier_date_KEY   97658 non-null  float64
 6   order_delivered_customer_date_KEY  96476 non-null  float64
 7   order_estimated_delivery_date_KEY  99441 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 6.1+ MB

In [38]:
## for filling NaN with 0 ##
dim_orders['order_approved_at_KEY'] = dim_orders['order_approved_at_KEY'].fillna(0)
dim_orders['order_delivered_carrier_date_KEY'] = dim_orders['order_delivered_carrier_date_KEY'].fillna(0)
dim_orders['order_delivered_customer_date_KEY'] = dim_orders['order_delivered_customer_date_KEY'].fillna(0)

In [39]:
dim_orders['order_approved_at_KEY'].replace([np.inf, -np.inf], 0, inplace=True)  
dim_orders['order_delivered_carrier_date_KEY'].replace([np.inf, -np.inf], 0, inplace=True)  
dim_orders['order_delivered_customer_date_KEY'].replace([np.inf, -np.inf], 0, inplace=True)

In [40]:
dim_orders['order_approved_at_KEY'] = dim_orders['order_approved_at_KEY'].astype(int)
dim_orders['order_delivered_carrier_date_KEY'] = dim_orders['order_delivered_carrier_date_KEY'].astype(int)
dim_orders['order_delivered_customer_date_KEY'] = dim_orders['order_delivered_customer_date_KEY'].astype(int)

In [41]:
dim_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   order_id                           99441 non-null  object
 1   customer_id                        99441 non-null  object
 2   order_status                       99441 non-null  object
 3   order_purchase_timestamp_KEY       99441 non-null  int64
 4   order_approved_at_KEY              99441 non-null  int32
 5   order_delivered_carrier_date_KEY   99441 non-null  int32
 6   order_delivered_customer_date_KEY  99441 non-null  int32
 7   order_estimated_delivery_date_KEY  99441 non-null  int64
dtypes: int32(3), int64(2), object(3)
memory usage: 4.9+ MB

# fact table

In [42]:
fact= pd.DataFrame()

In [43]:
fact["order_id"] = orders_dataset["order_id"]

In [44]:
fact = pd.merge(order_items,orders_dataset[['order_id','customer_id']], on='order_id',how='left')

In [45]:
fact.shape

(112650, 8)

In [46]:
fact.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795

In [47]:
fact= pd.merge(fact,order_payments, on = "order_id", how = "left")

In [48]:
fact = pd.merge(fact,order_reviews[['order_id','review_id','review_score']], on="order_id", how ="left")

In [49]:
fact.shape

(118310, 14)

# Cleaning

In [50]:
dim_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [51]:
dim_geolocation.shape

(1000163, 5)

In [52]:
dim_geolocation = dim_geolocation.drop_duplicates()

In [53]:
dim_geolocation.shape

(738332, 5)

In [54]:
dim_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [55]:
aggregated_geolocation = dim_geolocation.groupby('geolocation_zip_code_prefix').agg({
    'geolocation_lat': 'mean',
    'geolocation_lng': 'mean',
    'geolocation_city': 'first',
    'geolocation_state': 'first'
}).reset_index()

In [56]:
aggregated_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1001,-23.550227,-46.634039,sao paulo,SP
1,1002,-23.547657,-46.634991,sao paulo,SP
2,1003,-23.549000,-46.635582,sao paulo,SP
3,1004,-23.549829,-46.634792,sao paulo,SP
4,1005,-23.549547,-46.636406,sao paulo,SP

In [57]:
aggregated_geolocation['geolocation_zip_code_prefix'].duplicated().sum()

0

In [58]:
dim_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [59]:
dim_customers['customer_id'].duplicated().sum()

0

In [60]:
dim_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [61]:
dim_products.head()

,product_id,product_category_name,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [62]:
dim_products.isnull().sum()

product_id                         0
product_category_name            610
product_category_name_english    623
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
dtype: int64

In [63]:
dim_products['product_id'].duplicated().sum()

0

In [64]:
dim_order_reviews.head()

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [65]:
dim_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_comment_title     11568 non-null  object
 3   review_comment_message   40977 non-null  object
 4   review_creation_date     99224 non-null  object
 5   review_answer_timestamp  99224 non-null  object
dtypes: object(6)
memory usage: 4.5+ MB

In [66]:
dim_order_reviews['review_creation_date'] = pd.to_datetime(dim_order_reviews['review_creation_date'])

In [67]:
dim_order_reviews['review_answer_timestamp'] = pd.to_datetime(dim_order_reviews['review_answer_timestamp'])

In [68]:
dim_order_reviews['review_id'].duplicated().sum()

814

In [69]:
dim_order_reviews.drop_duplicates(subset=['review_id'], inplace=True)

In [70]:
dim_order_reviews[dim_order_reviews.duplicated('review_id', keep=False)]

Empty DataFrame
Columns: [review_id, order_id, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

In [71]:
dim_order_reviews.drop_duplicates(subset=['order_id'], inplace=True)

In [72]:
dim_order_reviews['order_id'].duplicated().sum()

0

In [73]:
dim_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_comment_title       86654
review_comment_message     57585
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [74]:
dim_order_reviews['review_comment_title'] = dim_order_reviews['review_comment_title'].fillna("MISSING")

In [75]:
dim_order_reviews['review_comment_message'] = dim_order_reviews['review_comment_message'].fillna("MISSING")

In [76]:
dim_order_reviews.head()

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,MISSING,MISSING,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,MISSING,MISSING,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,MISSING,MISSING,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,MISSING,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,MISSING,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [77]:
dim_order_reviews.shape

(98167, 6)

In [78]:
dim_order_reviews.tail()

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,MISSING,MISSING,2018-07-07,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,MISSING,MISSING,2017-12-09,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,MISSING,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,MISSING,MISSING,2018-07-01,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,MISSING,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49

In [79]:
dim_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [80]:
dim_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [81]:
dim_orders.isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp_KEY         0
order_approved_at_KEY                0
order_delivered_carrier_date_KEY     0
order_delivered_customer_date_KEY    0
order_estimated_delivery_date_KEY    0
dtype: int64

In [82]:
fact.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,1.0,credit_card,2.0,72.19,97ca439bc427b48bc1cd7177abe71365,5.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,1.0,credit_card,3.0,259.83,7b07bacd811c4117b742569b04ce3580,4.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,1.0,credit_card,5.0,216.87,0c5b33dea94867d1ac402749e5438e8b,5.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,1.0,credit_card,2.0,25.78,f4028d019cb58564807486a6aaf33817,4.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,1.0,credit_card,3.0,218.04,940144190dcba6351888cafa43f3a3a5,5.0

In [83]:
fact['customer_id'].replace([np.inf, -np.inf], 0, inplace=True)

In [84]:
fact["review_score"].unique()

array([ 5.,  4.,  1.,  3.,  2., nan])

In [85]:
fact['payment_sequential'].unique()

array([ 1.,  2.,  5.,  6.,  4.,  3.,  7., 11., 10.,  8.,  9., 12., 13.,
       14., 15., 17., 22., 16., 18., 19., 21., 20., nan, 26., 25., 24.,
       23., 27., 29., 28.])

In [86]:
fact[fact['payment_type'].isnull()]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score
88637,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,86dc2ffce2dfff336de2f386a786e574,NaN,NaN,NaN,NaN,6916ca4502d6d3bfd39818759d55d536,1.0
88638,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,86dc2ffce2dfff336de2f386a786e574,NaN,NaN,NaN,NaN,6916ca4502d6d3bfd39818759d55d536,1.0
88639,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,86dc2ffce2dfff336de2f386a786e574,NaN,NaN,NaN,NaN,6916ca4502d6d3bfd39818759d55d536,1.0

In [87]:
fact['payment_sequential'] = fact['payment_sequential'].fillna(0)

In [88]:
fact['payment_value'] = fact['payment_value'].fillna(0)

In [89]:
fact['review_id'] = fact['review_id'].fillna("MISSING")

In [90]:
fact['review_id'].isnull().sum()

0

In [91]:
fact.isnull().sum()

order_id                  0
order_item_id             0
product_id                0
seller_id                 0
shipping_limit_date       0
price                     0
freight_value             0
customer_id               0
payment_sequential        0
payment_type              3
payment_installments      3
payment_value             0
review_id                 0
review_score            978
dtype: int64

In [92]:
pay = fact.groupby("payment_type").agg({"order_item_id":"count"})
print(pay)

              order_item_id
payment_type
boleto                23018
credit_card           87258
debit_card             1699
voucher                6332

In [93]:
dim_geolocation.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_geolocation.csv" ,index=False)

In [94]:
dim_customers.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_customers.csv" ,index=False)

In [95]:
dim_sellers.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_sellers.csv" ,index=False)

In [96]:
dim_order_reviews.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_order_reviews.csv" ,index=False)

In [97]:
dim_products.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_products.csv" ,index=False)

In [98]:
dim_orders.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_orders.csv" ,index=False)

In [99]:
dim_dates.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/dim_dates.csv" ,index=False)

In [100]:
fact.to_csv("C:/Users/dhana/OneDrive/Desktop/e_comm_project/e-com-p/fact.csv" ,index=False)